.git
.github
.devcontainer
.env
data
data-dev
backups
backups-dev
tests
docs
node_modules
package.json
package-lock.json
docker-compose*.yml
fly.toml
*.zip
*.docx
*.md
index.prototype.html
__pycache__
